<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Plan</title>
</head>
<body>
<form method="post" style="display: flex; flex-direction: column"
      th:action="@{/operator/plan/update/{id}(id=${id})}"
      th:object="${plan}">
    <label>Name
        <input id="firstName" th:field="*{name}" type="text">
    </label>
    <label>Price
        <input id="price" th:field="*{price}" type="text">
    </label>
    <label>Features
        <input id="features" th:field="*{features}" type="text">
    </label>
    <button>Update Plan</button>
</form>

<a th:href="@{/operator/plan}">go back</a>
</body>
</html>