.customer__add-content {
    display: block;
}

.customer__add-heading > h1 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.customer__add-form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
