.customer__content {
    display: grid;
    place-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer__icon--pencil {
    color: var(--info);
}

.customer__icon--trash {
    color: var(--danger);
}

.customer_paid-tag {
    font-size: inherit;
    border: 1px solid;
    padding: 2px;
    text-align: center;
    border-radius: var(--rounded-sm);
}

.customer_paid-tag--not-paid {
    border-color: var(--danger);
    color: var(--danger);
    background-color: var(--danger-light);
}

.customer_paid-tag--due {
    border-color: var(--error);
    color: var(--error);
    background-color: var(--error-light);
}

.customer_paid-tag--paid {
    border-color: var(--success);
    color: var(--success);
    background-color: var(--success-light);
}

.customer__add {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.2rem;
}

.customer__add > a {
    max-width: 190px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
