.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.customer__table {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    border-collapse: collapse;
    border-spacing: 0;
}

.customer__table th {
    font-size: 0.85rem;
    text-align: left;
    text-transform: uppercase;
    background: #000;
    color: #fff;
}

.customer__table th,
.customer__table td {
    padding: 12px 24px;
    border-bottom: 1px;
    border-left: 0;
    border-right: 0;
    border-style: solid;
    border-color: #d9d7ce;
}

.customer__table td {
    font-size: 0.82rem;
}

.customer__body {
    border-left: 1px;
    border-right: 1px;
    border-style: solid;
    border-color: #d9d7ce;
}

.customer__options {
    display: flex;
    justify-content: space-around;
}

.customer__icon--pencil {
    color: var(--info);
}

.customer__icon--trash {
    color: var(--danger);
}

.customer_paid-tag {
    font-size: inherit;
    border: 1px solid;
    padding: 2px;
    text-align: center;
    border-radius: var(--rounded-sm);
}

.customer_paid-tag--not-paid {
    border-color: var(--danger);
    color: var(--danger);
    background-color: var(--danger-light);
}

.customer_paid-tag--due {
    border-color: var(--error);
    color: var(--error);
    background-color: var(--error-light);
}

.customer_paid-tag--paid {
    border-color: var(--success);
    color: var(--success);
    background-color: var(--success-light);
}
