.operator__content {
    display: block;
}

.operator__heading {
    margin-bottom: 1rem;
}

.operator__heading > h1 {
    font-size: 2.2rem;
}

.operator__card-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin-top: 20px;
}

.detail__card {
    display: flex;
}

.operator__card-container > .card > h1 {
    font-size: 2rem;
}

.operator__card-container > .card > .count {
    text-align: center;
    margin-top: 14px;
    font-size: 1.4rem;
}
