.plan__heading {
    margin-bottom: 1rem;
}

.plan__heading > h1 {
    font-size: 2.2rem;
}

.plan__icon--pencil {
    color: var(--info);
}

.plan__center {
    display: grid;
}

.plan__add {
    display: flex;
    justify-content: flex-end;
}

.plan__add > a {
    max-width: 135px;
}
