<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/head :: head"></div>
    <link href="../static/css/operator.css" rel="stylesheet" th:href="@{css/operator.css}"/>
    <title>Welcome Operator</title>
</head>
<body>

<nav th:replace="fragments/nav :: nav"></nav>

<div class="content operator__content">

    <!--TODO: Implement after the idea is clear-->
    <div class="operator__heading">
        <h1>Analytics</h1>
    </div>

    <div class="operator__card-container">
        <div class="card">
            <h1>Customers</h1>
            <p th:text="${customerCount}">2000</p>
        </div>

        <div class="card">
            <h1>Tickets Open</h1>
            <p th:text="${ticketCount}">2000</p>
        </div>
    </div>
</div>

</body>
</html>